/* Reset styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0%;
  color: var(--primary-color);
  background-color: var(--body-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; 
}

body.is-hidden {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

main {
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}

/* header indentation */
.header-anchor::before {
  content: "";
  display: block;
  height: 59px; 
  margin-top: -59px; 
}

.header-anchor {
  scroll-margin-top: 59px; 
}
