:root {
    /* Colors */
    --body-bg: #FBF4E8;
    --primary-color: #060606;
    --white-color: #FDFDFD;
    --border-bg-olive: #009E19;
    --green-color: rgb(0, 125, 20);
    --link-defolt-color: #4A5FC7;
    
    --active-green-color: rgba(12, 145, 0, 0.61);
    --container-bg-olive: rgba(0, 125, 20, 0.25);
    --background-olive-muted: rgba(12, 145, 0, 0.23);

    --scrollbar-thumb-bg: rgba(18, 20, 23, 0.1);
    --scrollbar-track-bg: rgba(255, 255, 255, 1);


          /* Fonts */
    --primary-font-family: 'Montserrat', sans-serif;
    --accent-font-family: 'Junge', sans-serif;

      /* Breakpoints */
  --mobile: 320px;
  --desktop: 1200px;

}