<section id="about" class="section">
  <div class="container">
    <h2 class="title-about">About the Game</h2>
    <div class="about-section">
      <p class="description-about">
        Step into the enchanting world of Florescence: Flower Merge Game, where
        every merge brings your garden closer to perfection. Combine seeds,
        buds, and blossoms to create unique flowers, unlock stunning gardens,
        and discover magical secrets hidden within the petals. With its relaxing
        gameplay and visually stunning design, this game is a treat for anyone
        who loves puzzles, nature, or creativity.
      </p>
      <div class="about-image">
        <img src="./img/about/about-me.jpg" alt="Game Screenshot" />
      </div>
    </div>
  </div>
</section>
