<section class="advantages">
  <h2 class="advantages-title">Advantages</h2>
  <div class="container-advantages">
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="border-layer"></div>
        <h3 class="subtitle-advantages">Unique Characters</h3>
      </li>
      <li class="advantages-item">
        <div class="border-layer"></div>
        <h3 class="subtitle-advantages">Immersive Visuals</h3>
      </li>
      <li class="advantages-item">
        <div class="border-layer"></div>
        <h3 class="subtitle-advantages">Daily Surprises</h3>
      </li>
      <li class="advantages-item">
        <div class="border-layer"></div>
        <h3 class="subtitle-advantages">Creative Freedom</h3>
      </li>
    </ul>

    <!-- <ul class="advantages-list-details">
      <li class="advantages-item-details">
        <p>
          Interact with delightful characters like Lila, Sprout, 
          and Petal for a magical experience.
        </p>
    </li>
      <li class="advantages-item-details">
        <p>
          Stunning flower animations and beautifully 
          crafted garden settings that evolve as you play.
       </p>
    </li>
      <li class="advantages-item-details">
        <p>
          Enjoy daily quests, seasonal events, 
          and unique rewards to keep the game fresh.
        </p>
     </li>
      <li class="advantages-item-details">
        <p>
          Design and customize your gardens to 
          reflect your personal style.
        </p>
      </li>
    </ul> -->
  </div>
</section>
