<section id="advantages" class="advantages header-anchor">
  <h2 class="advantages-title">Advantages</h2>
  <div class="container-advantages">
    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          src="./img/advantages/sharpangle@2x.png"
          alt="sharpangle"
          width="306"
          height="77"
        />
        <h3 class="subtitle-advantages">Dynamic Gameplay</h3>
      </li>
      <li class="advantages-item">
        <img
          src="./img/advantages/sharpangle@2x.png"
          alt="sharpangle"
          width="306"
          height="77"
        />
        <h3 class="subtitle-advantages">Unique Characters</h3>
      </li>
      <li class="advantages-item">
        <img
          src="./img/advantages/sharpangle@2x.png"
          alt="sharpangle"
          width="306"
          height="77"
        />
        <h3 class="subtitle-advantages">Immersive Visuals</h3>
      </li>
      <li class="advantages-item">
        <img
          src="./img/advantages/sharpangle@2x.png"
          alt="sharpangle"
          width="306"
          height="77"
        />
        <h3 class="subtitle-advantages">Daily Surprises</h3>
      </li>
      <li class="advantages-item">
        <img
          src="./img/advantages/sharpangle@2x.png"
          alt="sharpangle"
          width="306"
          height="77"
        />
        <h3 class="subtitle-advantages">Creative Freedom</h3>
      </li>
    </ul>

    <ul class="advantages-arrows">
      <li><img src="./img/advantages/arrow@2x.png" alt="Arrow" /></li>
      <li><img src="./img/advantages/arrow@2x.png" alt="Arrow" /></li>
      <li><img src="./img/advantages/arrow@2x.png" alt="Arrow" /></li>
      <li><img src="./img/advantages/arrow@2x.png" alt="Arrow" /></li>
      <li><img src="./img/advantages/arrow@2x.png" alt="Arrow" /></li>
    </ul>

    <ul class="advantages-list-details">
      <li class="advantages-item-details">
        <p class="details-text">
          A perfect mix of relaxing merging mechanics and strategic gardening
          decisions.
        </p>
      </li>
      <li class="advantages-item-details">
        <p class="details-text">
          Interact with delightful characters like Lila, Sprout, and Petal for a
          magical experience.
        </p>
      </li>
      <li class="advantages-item-details">
        <p class="details-text">
          Stunning flower animations and beautifully crafted garden settings
          that evolve as you play.
        </p>
      </li>
      <li class="advantages-item-details">
        <p class="details-text">
          Enjoy daily quests, seasonal events, and unique rewards to keep the
          game fresh.
        </p>
      </li>
      <li class="advantages-item-details">
        <p class="details-text">
          Design and customize your gardens to reflect your personal style.
        </p>
      </li>
    </ul>
  </div>
</section>
