<section id="characters" class="section">
  <div class="container">
    <h2 class="title-section-characters">Meet the Characters</h2>
    <div class="characters-container">
      <div class="character">
        <div class="character-image-container">
          <img src="./img/characters/pers-1.jpg" alt="Sprout the Fairy" />
          <div class="overlay">
            <div class="character-description">
              <p>
                A mischievous yet lovable garden fairy who adds a touch of magic
                to your merges. Sprout occasionally grants power-ups and special
                items to help your garden flourish.
              </p>
            </div>
          </div>
        </div>
        <h3 class="title-description-character">Sprout the Fairy</h3>
      </div>

      <div class="character">
        <div class="character-image-container">
          <img src="./img/characters/pers-2.jpg" alt="Lila the Gardener" />
          <div class="overlay">
            <div class="character-description">
              <p>
                A kind-hearted botanist with a magical touch for growing
                flowers. Lila guides you through the game, offering tips and
                encouragement as you bring life to the gardens.
              </p>
            </div>
          </div>
        </div>
        <h3 class="title-description-character">Lila the Gardener</h3>
      </div>

      <div class="character">
        <div class="character-image-container">
          <img src="./img/characters/pers-3.jpg" alt="Petal the Cat" />
          <div class="overlay">
            <div class="character-description">
              <p>
                A curious companion who loves exploring the garden and enjoys
                the adventure of discovering new flowers.
              </p>
            </div>
          </div>
        </div>
        <h3 class="title-description-character">Petal the Cat</h3>
      </div>
    </div>
  </div>
</section>
