<section id="faq" class="faq">
  <h2 class="faq-title">FAQ</h2>
  <div class="container-faq">
  <ul class="faq-list">
    <li class="faq-item">
      <button class="faq-question">
          <span class="span-faq">Is the game free to play?</span>
          <img 
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Yes, the game is free to play, with optional in-app purchases for premium items.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          <span class="span-faq">Can I play offline?</span>
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Yes, Florescence: Flower Merge Game can be played offline, but some features require an internet connection.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          <span class="span-faq">there daily rewards?</span>
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Absolutely! Log in daily to receive rewards, including rare flowers and magical boosts.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          <span class="span-faq">What devices are supported?</span>
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>The game is compatible with most Android and iOS devices with updated operating systems.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          <span class="span-faq">How often are new updates released?</span>
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>We regularly add new levels, gardens, and seasonal events to keep the game exciting.</p>
      </div>
    </li>
  </ul>
</div>
</section>
