<section class="section faq">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-item">
      <button class="faq-question">
          Is the game free to play?
          <img 
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Yes, the game is free to play, with optional in-app purchases for premium items.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          Can I play offline?
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Yes, Florescence: Flower Merge Game can be played offline, but some features require an internet connection.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          Are there daily rewards?
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>Absolutely! Log in daily to receive rewards, including rare flowers and magical boosts.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          What devices are supported?
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>The game is compatible with most Android and iOS devices with updated operating systems.</p>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-question">
          How often are new updates released?
          <img
              class="faq-toggle-icon" 
              src="./img/faq/iconfaq@2x.png" 
              alt="iconfaq" 
              width="22" 
              height="22"
          >
      </button>
      <div class="faq-answer">
        <p>We regularly add new levels, gardens, and seasonal events to keep the game exciting.</p>
      </div>
    </li>
  </ul>
</section>
