<footer class="section container footer">
  <div class="container-footer">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="./index.html">
          <img
            class="logo-footer"
            src="/logo@2x.png"
            alt="logo"
            width="80"
            height="82"
          />
        </a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="./page-2.html">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="./page-3.html">Terms of Service</a>
      </li>
      <li class="footer-item">
        <p class="footer-text">
          All rights reserved, 2025. greatjoyzonewin.com
        </p>
      </li>
    </ul>
  </div>
</footer>
