<section class="gallery">
  <h2 class="title-gallery">Gallery</h2>

<div class="swiper-container">
<div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
          <img 
          class="gallery-imgpg"
          src="../img/gallery/solvepuzzles@2x.jpg" 
          alt="Зображення 1" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <img
          class="gallery-img" 
          src="../img/gallery/merjetoplay@2x.jpg" 
          alt="Зображення 2" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <div class="image-container">
        <img 
            class="background-img"
            src="../img/gallery/forest@2x.jpg" 
            alt="Зображення 3" 
            width="510" 
            height="306"
          >
          <img 
            class="flower-img"
            src="../img/gallery/petunia@2x.png" 
            alt="Зображення 3" 
            width="300" 
            height="200"
            >
          <img 
            class="flower-img"
            src="../img/gallery/gardenias@2x.png" 
            alt="Зображення 3" 
            width="300" 
            height="200"
            >
          <img 
            class="flower-img"
            src="../img/gallery/rose@2x.png" 
            alt="Зображення 3" 
            width="300" 
            height="200"
            >
          </div>
      </li>
      <li class="swiper-slide">
        <img
          class="gallery-img" 
          src="../img/gallery/breedplants@2x.jpg" 
          alt="Зображення 2" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <img 
          class="gallery-img"
          src="../img/gallery/magicalrose@2x.jpg"
          alt="Зображення 3" 
          width="510" 
          height="306">
      </li>
    </ul>

    <!-- Пагінація -->
    <div class="swiper-pagination"></div>
  </div>
    
    <!-- Кнопки навігації -->
    <button class="swiper-button-next"></button>
    <button class="swiper-button-prev"></button>
  </div>
</section>
