<section id="gallery" class="gallery section">
  <h2 class="title-gallery">Gallery</h2>
<div class="container-gallery">
<div class="swiper-container">
<div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
          <img 
          class="gallery-img"
          src="./img/gallery/solvepuzzles@2x.jpg" 
          alt="solvepuzzles" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <img
          class="gallery-img" 
          src="./img/gallery/merjetoplay@2x.jpg" 
          alt="merjetoplay" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <div class="image-container">
        <img 
            class="background-img"
            src="./img/gallery/forest@2x.jpg" 
            alt="forest" 
            width="510" 
            height="306"
          >
          <img 
            class="flower-img"
            src="./img/gallery/petunia@2x.png" 
            alt="petunia" 
            width="300" 
            height="300"
            >
          <img 
            class="flower-img"
            src="./img/gallery/gardenias@2x.png" 
            alt="gardenias" 
            width="300" 
            height="300"
            >
          <img 
            class="flower-img"
            src="./img/gallery/rose@2x.png" 
            alt="rose" 
            width="300" 
            height="300"
            >
          </div>
      </li>
      <li class="swiper-slide">
        <img
          class="gallery-img" 
          src="./img/gallery/breedplants@2x.jpg" 
          alt="breedplants" 
          width="510" 
          height="306">
      </li>
      <li class="swiper-slide">
        <img 
          class="gallery-img"
          src="./img/gallery/magicalrose@2x.jpg"
          alt="magicalrose" 
          width="510" 
          height="306">
      </li>
    </ul>

    <!-- pagination -->
    <div class="swiper-pagination"></div>
  </div>
    
    <!-- button nav-->
    <button class="swiper-button-next"></button>
    <button class="swiper-button-prev"></button>
  </div>

    <!-- mobail gallery -->
    <ul class="list-gallery">
      <li>
          <img 
          class="gallery-img-mobile"
          src="./img/gallery/solvepuzzles@2x.jpg" 
          alt="solvepuzzles" 
          width="510" 
          height="306">
      </li>
      <li>
        <img
          class="gallery-img-mobile" 
          src="./img/gallery/merjetoplay@2x.jpg" 
          alt="mergetoplay" 
          width="510" 
          height="306">
      </li>
      <li>
        <!-- container flowers  -->
        <div class="image-container-mobile">
        <img 
            class="background-img-mobile"
            src="./img/gallery/forest@2x.jpg" 
            alt="forest" 
            width="510" 
            height="306"
          >
          <img 
            class="flower-img-mobile"
            src="./img/gallery/petunia@2x.png" 
            alt="petunia" 
            width="300" 
            height="200"
            >
          <img 
            class="flower-img-mobile"
            src="./img/gallery/gardenias@2x.png" 
            alt="gardenias" 
            width="300" 
            height="200"
            >
          <img 
            class="flower-img-mobile"
            src="./img/gallery/rose@2x.png" 
            alt="rose" 
            width="300" 
            height="200"
            >
          </div>
      </li>
      <li>
        <img
          class="gallery-img-mobile" 
          src="./img/gallery/breedplants@2x.jpg" 
          alt="breedplants" 
          width="510" 
          height="306">
      </li>
      <li>
        <img 
          class="gallery-img-mobile"
          src="./img/gallery/magicalrose@2x.jpg"
          alt="magicalrose" 
          width="510" 
          height="306">
      </li>
    </ul>
  </div>
</section>
