<header class="header-wrapp">
  <div class="container-main-header">
    <div class="container-burger">
      <a class="logo-link" href="./index.html">
        <img
          class="logo"
          src="/logo@2x.png"
          alt="logo"
          width="37px"
          height="38px"
        />
      </a>
      <button class="burger-menu">
        <img
          src="./img/headers/burger@2x.png"
          alt="burger"
          width="21px"
          height="21px"
        />
      </button>
    </div>

    <nav class="header-navigation">
      <div class="header-navigation-top">
        <a class="logo-link" href="./index.html">
          <img
            class="logo-top"
            src="/logo@2x.png"
            alt="logo"
            width="37px"
            height="38px"
          />
        </a>
        <button class="burger-close">
          <img
            src="./img/headers/icon_close@2x.png"
            alt="icon-close"
            width="42px"
            height="31px"
          />
        </button>
      </div>
      <!-- menu1 -->
      <div class="link-nav">
      <ul class="header-navigation-list">
        <li>
          <a class="header-navigation-link" href="#about"> About the Game </a>
        </li>
        <li>
          <a class="header-navigation-link" href="#characters"> Characters </a>
        </li>
        <li>
          <a class="header-navigation-link" href="#advantages"> Advantage </a>
        </li>
        <li>
          <a class="header-navigation-link" href="#gallery"> Gallery </a>
        </li>
        <li>
          <a class="header-navigation-link" href="#why">
            Why you choose our game
          </a>
        </li>
        <li>
          <a class="header-navigation-link" href="#faq"> FAQ </a>
        </li>
      </ul>
      <!-- menu2 -->
      <ul class="header-navigation-list">
        <li>
          <a class="header-navigation-link external-link" href="./page-2.html">
            Privacy Policy
          </a>
        </li>
        <li>
          <a class="header-navigation-link external-link" href="./page-3.html">
            Terms of Service
          </a>
        </li>
      </ul>
    </div>
    </nav>
  </div>
</header>
