<section id="why" class="container section">
  <h2 class="title-section-why">Why Choose This Game Over Others?</h2>

  <div class="flowers-container-why">
    <div class="flower-container-why">
      <p class="flower-text-why">
        <span class="bolded">Innovative Merging:</span> Unlike other merge
        games, Florescence integrates storytelling, character interaction, and
        creative garden customization.
      </p>
      <img
        class="flower-img-why"
        src="./img/choose/flower-1.png"
        alt="Innovative merging"
      />
    </div>
  </div>

  <div class="flower-container-why">
    <img
      class="flower-img-why"
      src="./img/choose/flower-2.png"
      alt="Relaxing meets"
    />
    <p class="flower-text-why">
      <span class="bolded">Relaxation Meets Strategy:</span> Combines soothing
      gameplay with challenging objectives that keep you engaged.
    </p>
  </div>

  <div class="flower-container-why">
    <p class="flower-text-why">
      <span class="bolded">Eco-friendly Theme:</span> Promotes a love for nature
      and creativity while offering endless fun.
    </p>
    <img
      class="flower-img-why"
      src="./img/choose/flower-3.png"
      alt="Eco-friendly theme"
    />
  </div>

  <div class="flower-container-why">
    <img
      class="flower-img-why"
      src="./img/choose/flower-4.png"
      alt="Unique rewards that feel special"
    />
    <p class="flower-text-why">
      <span class="bolded">Unique Rewards:</span> Rare flowers, magical items,
      and character interactions make every merge feel special.
    </p>
  </div>
</section>
