.about {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
}

.title-about {
  margin-bottom: 20px;
  text-align: center;
}

.description-about {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .title-about {
    font-size: 28px;
  }

  .description-about {
    font-size: 14px;
    padding: 10px;
  }
}
