.advantages {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.container-advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px 30px 14px;
}

.advantages-title {
  font-family: var(--accent-font-family);
  font-size: 30px;
  text-align: center;
  margin-bottom: 54px;
  padding-top: 20px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.advantages-item {
  position: relative;
  display: inline-block;
  width: 136px;
  text-align: center;
  cursor: pointer;
}

.advantages-item img {
  width: 306px;  
  height: 77px;
}

.subtitle-advantages {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.advantages-list-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.advantages-item-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 98px;
  background-color: var(--background-olive-muted);
  transition: transform 0.3s ease;
}

.details-text {
  font-size: 13px;
  text-align: center;
  transition: font-size 0.1s ease, font-weight 0.1s ease;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-text.active {
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    max-width: 1200px;
  }

  .container-advantages {
    padding: 44px 104px;
    gap: 24px;
  }

  .advantages-title {
    font-size: 52px;
    margin-bottom: 34px;
    /* padding-top: 45px; */
  }
  
  .advantages-list {
    gap: 42px;
  }

  .advantages-item {
    position: relative;
    display: inline-block;
    width: 306px;  
    text-align: center;
    cursor: pointer;
  }

  .advantages-item img {
    width: 306px;  
    height: 77px;
  }

  .advantages-item-details {
    width: 330px; 
  }

  .subtitle-advantages {
    width: 256px;
    top: 50%;
    left: 45%;
    font-size: 25px;
    text-align: start;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  .advantages-list-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }

  .advantages-item-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 77px;
    background-color: var(--background-olive-muted);
    transition: transform 0.3s ease;
  }

  .details-text {
    font-size: 15px;
    width: 306px;
  }
  
  .details-text.active {
    font-size: 18px;
  }

.advantages-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 106px;
}
}

@media screen and (max-width: 1199px) {
  .advantages-arrows {
    display: none; 
  }
}
