.section-character {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.characters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 110px;
  align-items: center;
  padding: 45px 62px 125px;
}

.title-section-characters {
  font-family: 'Junge', sans-serif;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  color: #060606;
  padding-bottom: 35px;
}
.character-image-container {
  position: relative;
  width: 284px;
  height: 284px;
}

.character-image-container img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
  background-image: url('../img/characters/wave.png');
}

.character-description {
  bottom: 0;
  padding: 10px;
  text-align: center;
  color: #333;
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(0%);
}

.title-description-character {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  color: #060606;
  padding: 4px;
}

.character-description-font {
  font-size: 14px;
}

.character:hover .overlay {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section-character {
    max-width: 320px;
  }

  .title-section-characters {
    font-size: 30px;
    padding-bottom: 24px;
  }

  .character-description-font {
    font-size: 13px;
  }

  .title-description-character {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    padding: 15px;
    margin: 0;
  }

  .characters-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px;
    margin-bottom: 38px;
  }
}
