.header-wrapp {
  width: 100vw;
  max-width: 320px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 999;
}

.container-main-header {
  background-color: var(--body-bg);
  height: 59px;
}

.logo-link {
  padding-top: 10px;
  cursor: pointer;
}

.container-burger {
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg);
  flex-direction: column;
  padding-top: 10px;
  padding-left: 14px;
  z-index: 1000;
  overflow: hidden;
}

.header-navigation.active {
  display: flex;
}

.header-navigation-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.burger-close {
  background: none;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 31px;
  padding-right: 14px;
}

.header-navigation-list {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
}
  .link-nav {
  margin: 0 auto;
  }

.header-navigation-link {
  font-size: 17px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-navigation-link:hover,
.header-navigation-link:active {
  color: var(--green-color);
}

.header-navigation.active .header-navigation-list {
  display: flex;
}

.header-navigation.active .header-navigation-list:nth-of-type(2) {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

@media screen and (min-width: 1200px) {
  .header-wrapp {
    max-width: 1200px;
  }

  .container-main-header {
    width: 100%;
  }

  .logo-link {
    padding-left: 38px;
  }

  .header-navigation {
    display: flex;
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding-right: 0;
    height: auto;
    background: none;
    justify-content: space-between;
    align-items: center;
  }

  .header-navigation-top {
    display: none;
  }

  .header-navigation-list {
    display: flex;
    flex-direction: row;
    gap: 38px;
    margin: 0;
    padding: 0;
  }

  .burger-menu {
    display: none;
  }

  .header-navigation-link {
    font-size: 19px;
  }

  .header-navigation-list:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header-wrapp {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      transform: none;
  }
}

.is-hidden {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
