.header-wrapp {
  width: 100%; 
  max-width: 320px; 
  position: fixed;
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  margin: 0; 
  z-index: 999;
}

.container-main-header {
  background-color: var(--body-bg);
  height: 59px;
  width: 320px;
}

.logo-link {
  padding-top: 10px;
}

.container-burger {
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--body-bg);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 14px 14px 18px;
  z-index: 1000;
}

.header-navigation.active {
  display: flex;
  box-sizing: border-box;
}

.header-navigation-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.burger-close {
  background: none;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header-navigation-list {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
  align-items: flex-start;
}

.header-navigation-link {
  font-size: 17px;
}

.header-navigation-link:hover,
.header-navigation-link:active {
  color: #0c91003b;
}

.header-navigation.active .header-navigation-list {
  display: flex;
}

.header-navigation.active .header-navigation-list:nth-of-type(2) {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

@media screen and (min-width: 1200px) {
  .header-wrapp {
    width: 100%; 
    max-width: 1200px; 
  }
  .container {
    max-width: 1000px;
  }

  .container-main-header {
    width: 1200px;
   
  }

  .logo-link {
    padding-left: 38px;
  }

  .header-navigation {
    display: flex;
    position: absolute;
    top: 8px;
    left: 10%;
    width: 80%;
    padding-right: 0;
    height: auto;
    background: none;
  }

  .header-navigation-top {
    display: none;
  }

  .header-navigation-list {
    display: flex;
    flex-direction: row;
    gap: 38px;
    margin: 0;
    padding: 0;
  }

  .burger-menu {
    display: none;
  }

  .header-navigation-link {
    font-size: 19px;
  }

  .header-navigation-list:nth-of-type(2) {
    display: none;
  }
}

.is-hidden {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
