/* utils styles */
@import './utils/global.css';
@import './utils/variables.css';

/* section styles */
@import './header.css';
@import './hero.css';
@import './about.css';
@import './characters.css';
@import './advantages.css';
@import './gallery.css';
@import './why-choose.css';
@import './faq.css';
@import './footer.css';
@import './advantages.css';
@import './footer.css';
@import './privacy-and-terms.css';


@media (min-width: 320px) and (max-width: 1200px) {
    .section {
      background-color: var(--body-bg);
    }
    .title-section {
      font-size: 52px;
      margin-bottom: 35px;
    }
  }
  
  @media (min-width: 1200px) {
    .section {
      background-color: var(--body-bg);
    }

    .title-section {
      text-align: center;
      font-family: var(--accent-font-family);
      font-size: 30px;
      margin-bottom: 24px;
    }
  }
  
