.why {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

.container-why-info {
  margin: 0 auto;
  padding: 0 62px;
}

.title-section-why {
  font-family: 'Junge', sans-serif;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  color: #060606;
  padding-bottom: 35px;
}

.flower-container-why {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.flower-img-why {
  height: 259px;
}

.bolded {
  font-weight: bold;
}

.flower-text-why {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #060606;
  width: 528px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .why {
    max-width: 320px;
  }

  .container-why-info {
    padding: 0 14px;
  }
 
  .title-section-why {
    font-size: 30px;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .flowers-container-why {
    margin-bottom: 20px;
  }

  .flower-text-why {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 135px;
  }

  .flower-img-why {
    width: 155px;
    height: 112px;
  }
}
